html,
body { 
   background-color: black;
   height: fit-content;
}

.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.post_form {
    padding: 20px 40px;
    border-bottom: 1px solid #ccc;
}
.post_form input {
    width: 72%;
    margin-bottom: 28px;
    padding: 12px;
    border: 2px solid #ccc;

}
/*.post_form textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #e6fef7;
}*/
.posts ul {
    padding: 0;
}
.posts li {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 20px 40px;
    list-style: none;
}
.posts li .logo {
    flex-basis: 15%;
}
.posts li .logo img {
    width: 72%;
}
.posts li .name_body {
    flex-basis: 85%;
    color: white
}
.posts li .name_body .name {
    font-weight: bold;
    color: white
}
.posts li .name_body .datetime {
    color: white;
}
@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
}
.posts li .menu_icon {
    width: 28px;
    position: absolute;
    right: 30px;
    top: 18px;
}
.posts li .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}
.posts li .menu a {
    text-decoration: none;
}
img.twitterlog {
    width: 50px;
    height: 50px;
}
.logodiv {
    display: flex;
    align-items: center;
    padding-left: 6%;
    gap: 3%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2%;
}
input[type="submit"] {
    width: 22%;
    background-color: #0084ff;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    font-size: large;
}
button {
    background-color: #0084ff;
    width: 15%;
    padding: 2%;
    border: none;
    border-radius: 24%;
    color: white;
    font-weight: 600;
    font-size: large;
}
button.like-button {
    color: rgb(244, 8, 8);
   
}

img.post-image {
    height: 50vh;
    border-radius: 15px;
}
.post_form textarea {
    width: 73%;
    padding: 9px;
    /*border: 1px solid #ccc;*/
    background-color: #d0e47e;
}
textarea {
    background-color: #d0e47e;
}
body > section > section.post_form > form > input[type=text]:nth-child(2){
    background-color: #d0e47e;  
}